" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" enable hybrid line numbers
set relativenumber
set number

" powerfeature, see docs
set ideajoin

" sync JB bookmarks and IdeaVim global marks (works for marks with capital
" letters only)
set ideamarks

" Don't use Ex mode, use Q for formatting.
map Q gq

" from Ataman README.
nnoremap <Space> :action LeaderAction<cr>
vnoremap <Space> :action LeaderAction<cr>

" center cursor after scrolling half page up/down
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

" center cursor after scrolling full page up/down
nnoremap <C-f> <C-f>zz
nnoremap <C-b> <C-b>zz

" center cursor and open fold after going to next/previous search match
nnoremap n nzzzv
nnoremap N Nzzzv

" todo: add native IdeaVim maps for leader keybindings if ataman doesn't get fixed
" let mapleader=" "
" map <leader>s <Action>(ToggleLineBreakpoint)
